/*CSS by Anders Erik Nissen
UCN MMDA0920*/
@charset "uft-8";
* {box-sizing: border-box; margin: 0; padding: 0}


/*      -------------
        --- FONTS ---
        -------------       */
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
    body {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        line-height: 1.75;
        color: black;
    }

    /* With help from  https://type-scale.com/*/
    h1, h2, h3, h4, h5 {
        margin: 3rem 0 1.38rem;
        font-weight: 400;
        line-height: 1.3;
      }
    h1 {
        margin-top: 0;
        font-size: 3.052rem;
        max-width: 20ch;
    } 
    h2 {
        font-size: 2.441rem;
        max-width: 40ch;
    }
    h3 {font-size: 1.953rem;}
    
    h4 {font-size: 1.563rem;}
    
    h5 {font-size: 1.25rem;}

    p {margin-bottom: 1rem;}

    body#forside #heroTextSection h2 {
        font-size: calc(1rem * 1.5);
    }
    body#forside main, body#projekter main {
        color: rgba(5, 5, 5);
    }


/*############### 
    VARIABLER 
################*/
:root {
    /* 
        ----- Styling of Elements
    */

        /* Corners */
        --corners-mid: 20px;
        --corners-round: 50%;


        --footer-position: 0;

        /* Global */
        --global-outer-height: 50vh;
        --global-inner-width: 1600px;
        --global-min-width-center: 900px;

        /* Padding */
        --global-padding-text: 3%;

        --outer-projekt-padding: 3%;

    /*  ------------------
        ----- Colors -----
        ------------------  */
        /* --color-bg-main: rgb(2, 2, 2); */
        --color-bg-main: #ffecd9;
        --color-bg-sec: rgb(255, 255, 255);

        /* Buttons */
        --color-btn-cta: #ef7443;
        --color-btn-main: rgb(2,2,2);
        
    /* 
        ----- Projekt Colors
    */
    /* SNV */
    --snv-color-main: #B22918;
    --snv-color-sec: #1C3E56;
    /* Englerod */
    --englerod-color-main: #F6A062;
    --englerod-color-sec: #87C882;
    /* PinkTree */
    --pinktree-color-main: #CE1E58;
    --pinktree-color-sec: #091534;
}

/*###########  
    GRID  
############*/
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--grid-column-desk), 1fr);
        grid-gap: var(--grid-gap);
    }

/*##########
    FLEX 
###########*/
    .flex-center {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

/*##################
    MEDIA QUERIES 
###################*/
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .grid {
            grid-template-columns: repeat(var(--grid-column-tablet), 1fr);
        }
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
        .grid {
            grid-template-columns: repeat(var(--grid-column-mobil), 1fr);
        }
    }

  

                 

                    header {
                        /* background-color: #050817; */
                        position: fixed;
                        top: 0;
                        left: 0;
                        /* height: 10vh; */
                        width: 100%;
                        z-index: 3;
                    }
                    #hero {
                        /* background-color: #ffab03; */
                        /* background-color: rgb(249, 255, 246); */
                        /* background: linear-gradient(180deg, rgba(255,171,3,1) 0%, rgba(255,127,241,1) 100%); */
                        background-color: var(--color-bg-sec);
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        width: 100%;
                        z-index: 0;

                        /* color: white; */
                    }
                    
                    main {
                        margin: 0;
                        top: 100vh;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                    }

                    body main > * {
                        background-color: var(--color-bg-main);
                    }
                   

                    /* Skyline */
                    main section#main_skyline{
                        background-color: transparent;
                    }
                    section#main_skyline_footer {
                        background-color: var(--color-bg-main);
                    }
                    body#forside #main_skyline_footer, body#projekter #main_skyline_footer {
                        background-color: var(--color-bg-sec);
                    }

                    footer {
                        background-color: var(--color-bg-sec);
                        /* color: var(--color-bg-main); */

                        position: absolute;
                        top: var(--footer-position);
                        left: 0;
                        z-index: 1;
                        min-height: 50vh;
                        width: 100%;
                    }


/*      ---------------- 
        ---- GLOBAL ----
        ----------------    */ 
    /* Styling  */
        p {
            max-width: 70ch;
        }
        .button {
            display: block;
            border: 1px solid var(--color-btn-main);
            border-radius: 3px;
            padding: .6rem;
            color: var(--color-btn-main);
            /* font-weight: bold; */
            text-decoration: none;
            font-size: .8rem;

            min-width: 14ch;
            text-align: center;
            margin: .8rem 0;
        }
        .button:hover {
            background-color: var(--color-btn-cta);
            color: var(--color-btn-main);
        }
        .button:active {
            transform: scale(.95);
        }

        /* Diffent Buttons */
        #hero .button, footer .button {
            border: 1px solid var( --color-btn-cta);
            background-color: var( --color-btn-cta);
            color: white;
        }
        #hero .button:hover, footer .button:hover {
            background-color: white;
            color: var(--color-btn-cta);
        }
        a.button {
            display: inline-block;
        }

    /* Global Header */
        #globalHeader {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            padding: 0 3vw;
            min-height: 60px;
        }
        #globalHeader > nav {
            display: flex;
        }
        #globalHeader nav > ul {
            display: flex;
            flex-direction: row;
        }
        #globalHeader li {
            list-style: none;
        }
        /* Logo */
        #logo_div {
            height: 60px;
            width: auto;
        }
        #logo_div img {
            width: auto;
            height: 80%;
        }
        /* Links */
            /* Active */
            #globalHeader_links .active_nav {
                text-decoration: underline;
            }

            #globalHeader_links {
                display: flex;
                align-items: center;
            }
            #globalHeader_links li {
                margin: 0 1vw;
            }
            #globalHeader_links a {
                color: black;
                /* font-weight: bold; */
                text-decoration: none;
            }
        /* Icons */
            #globalHeader_soMiIcons {
                display: flex;
                align-items: center;
            }
            #globalHeader_soMiIcons div {
                width: 27px;
                margin: 0 1vw;
            }
            #globalHeader_soMiIcons img {
                width: 100%;
                height: auto;
            }
        /* Animation on Scroll */
            .nav_fadeIn {
                animation: nav_fadeIn .8s ease-in forwards;
            }
            @keyframes nav_fadeIn {
                from {background-color: rgba(255,171,3,0);}
                to {background-color: var(--color-bg-sec);}
            }
            .nav_fadeOut {
                animation: nav_fadeOut .8s ease-in forwards;
            }
            @keyframes nav_fadeOut {
                from {background-color: var(--color-bg-sec);}
                to {background-color: rgba(255,171,3,0);}
            }
    
    /* Skyline */
        #main_skyline {
            /* position: absolute;
            top: 0;
            left: 0; */
            width: 100%;
            height: auto;
            
        }
        #main_skyline object {
            display: block;
            width: 100%;
            height: auto;
        }

    /* Scroll Down */
    #scroll_down {
        position: absolute;
        z-index: 1;
        bottom: 3rem;

        display: flex;
        justify-content: center;
    }
    #scroll_down > div > object {
        width: 30px;
        height: auto;
    }
       
/*      --------------- 
        --- FORSIDE ---
        ---------------     */

    /* Forside - Hero */
        #heroTextSection {
            display: flex;
        }
        /* body#forside #hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        } */
        #outer_hero {
            width: 80%;

            display: flex;
        }
        body#forside #heroTextSection {
            z-index: 1;
            flex-direction: column;
            align-items: flex-start;
            color: black;
            width: 35%;
        }
        #forsideHeroObjBox {
            width: 65%;
            height: auto;
            /* position:absolute; */
            top: 20%;
            left: 0;
            z-index: -1;
        }
        #forsideHeroObjDiv {
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 100%;
        }
        #forsideHeroObjBox object {
            width: 100%;
            height: auto;
        }
    
    /* Forside - Personlig */
        #forsidePersonlig {
            width: 100%;
            min-height: var(--global-outer-height);

            display: flex;
            justify-content: center;
            /* color: var(--color-bg-sec); */
        }
        #forPer_cover {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: var(--global-min-width-center);
            max-width: var(--global-inner-width);

            margin-top: 5rem;
        }
        #forPer_cover > section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: var(--global-padding-text) 0;
        }
        #forsidePersonlig div {
            width: 200px;
            height: 200px;
            background-color: rgb(255, 230, 230);
        }
        #obj_desk {
            height: 100%;
            width: auto;
        }

    /* Forside - Projekter */
        /* Intro */
        #forsideProjekter {
            width: 100%;
        }
        #forPro_info {
            height: 20%;
        }
        /* Projekter */
        #snv, #englerod, #pinkTree {
            min-height: var(--global-outer-height);
            padding: var(--outer-projekt-padding);
            width: 100%;
        }
        .projektMain {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* Before the Object would cover the anchor link, but now it works */
        .projektMain object {
            pointer-events: none;
        }

        .projektMain section {
            border-radius: 3px;
            width: 50vw;
            height: auto;
            min-width: var(--global-min-width-center);

            display: flex; 
        }

        #englerod_imgBox {background-color: #f27720;}
        #snv_imgBox {background-color: #B22918; position: relative; z-index: 0;}
        #pinktree_imgBox {background-color: #2cbdd0;}

        .projektMain section img, .projektMain section object {
            width: 50%;
            height: auto;
        }
        .projektMain section img {
            border-radius: 0 3px 3px 0;
        }
        .projektMain section object {
            padding: 5%;
        }

/*      --------------- 
        --- OM MIG ----
        ---------------     */
    .vaerdiBox {
        height: auto;
        width: 100%;
        background-color: red;
    }
    #placeholderProfilPicture {
        width: 40vw;
        height: 20vw;
        background-color: red;
    }


/*      --------------- 
        -- PROJEKTER --
        ---------------     */
    .kodeSprogBox {
        background-color: white;
        color: black;
        font-size: 1rem;
        display: inline-block;
        padding: .5rem;
        min-width: 10ch;
        
        border-radius: 99px;
        text-align: center;

        margin: 0 .5rem;
    }
    .arrowDown-center_container {
        margin: 1rem;
    }
    .projektIntro_container {
        width: 100%;
        min-height: 50vh;
    }
    .prokjektIntro {

    }
    .pro_h2_box {
        /* height: 10vh; */
        width: 100%;
    }
    .pro_h2s {
        text-decoration: underline;
        font-size: 3rem;
    }
    /* Projekt Template */
        .step_obj {
            width: 300px;
            height: auto;
        }

/*      --------------- 
        --- KONTAKT ---
        ---------------     */
        
    #kontakt-outer_container {
        display: flex;
    }
    #kontakt-soMi_ul {
        display: flex;
        margin: 0;
        padding: 0;
        width: 40%;
        
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    #kontakt-img {
        width: 40vw;
        height: auto;
    }
    #kontakt-img img {
        width: 100%;
        object-fit: contain;
    }

    #kontakt-info_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 0 var(--global-padding-text);
    }
        

/*      --------------- 
        --- OM MIG ----
        ---------------     */
        #om-mig_main {
            min-height: 100vh;
            width: 100%;
        }
        #om-mig_intro_img {
            width: 50%;
        }
        #om-mig_intro_img > div {
            width: 100%;
        }
        #om-mig_intro_img img {
            width: 100%;
            height: auto;
        }
        /* Hero */
        body#om-mig #hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        body#om-mig #heroTextSection {
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

/*      ---------------------------- 
        --- PROJETKER - TEMPLATE ---
        ----------------------------     */
        .projektStepBox {
            width: 50vw;
        }
        #template_color_cover {
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;
            opacity: .7;
            z-index: -1;
        }
        /* Template "Global" */
        body#template_snv,
        body#template_englerod,
        body#template_pinktree h2 {
            color: white;
        }
        /* --- Diffrent Content after body id --- */
        /* SNV */
        body#template_snv #hero {
            background-image: url(/assets/images/images_projekter/snvdk.png);
            background-color: var(--snv-color-main);
        }
        body#template_snv #template_color_cover {
            background-color: var(--snv-color-main);
        }
        /* Englerod */
        body#template_englerod #hero {
            background-image: url(/assets/images/images_projekter/englerod.png);
            background-color: var(--englerod-color-main);
        }
        body#template_englerod #template_color_cover {
            background-color: var(--englerod-color-main);
        }
        /* PinkTree */
        body#template_pinktree #hero {
            background-image: url(/assets/images/images_projekter/PINKTREE.png);
            background-color: #2cbdd0;;
        }
        body#template_pinktree #template_color_cover {
            background-color: #2cbdd0;;
        }

