/*CSS by Anders Erik Nissen
UCN MMDA0920*/
@charset "uft-8";
* {box-sizing: border-box; margin: 0; padding: 0}

 html {font-size: 100%;} /*16px*/


/*      -------------
        --- FONTS ---
        -------------       */
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
    body {
        font-size: 16px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        line-height: 1.75;
        color: black;
    }

    /* With help from  https://type-scale.com/*/
    h1, h2, h3, h4, h5 {
        margin: .5rem 0;
        font-weight: 400;
        line-height: 1.3;
    }
    h1, h2 {
        margin: 2rem 0 0 0;
    }
    
    h1 {
        margin-top: 0;
        font-size: 3.052rem;
        max-width: 20ch;
    } 
    h2 {
        font-size: 2.441rem;
        max-width: 40ch;
    }
    h3 {font-size: 1.953rem;}
    
    h4 {font-size: 1.563rem;}
    
    h5 {font-size: 1.25rem;}

    p {margin-bottom: 1rem;}

    i {
        font-style: italic;
    }

    /* body#forside #heroTextSection h2 {
        font-size: calc(1rem * 1.5);
    } */
    body#forside main, body#projekter main {
        color: rgba(5, 5, 5);
    }

    li {
        list-style-type: none;
    }


/*############### 
    VARIABLER 
################*/
:root {
    /* 
        ----- Styling of Elements
    */
        /* Burger Value */ 
        --burger-value: 4px;
        --burger-time: .7s;
        --burger-translateY: calc(var(--burger-value) * 2);
        
        /* Center Flex */
        --center-flex: row;
        /* Center Content Flex */
        --center-flex-content: row;

        /* Corners */
        --corners-mid: 20px;
        --corners-round: 50%;


        --footer-position: 0;

        /* Global */
        --global-outer-height: 50vh;
        --global-inner-width: 1600px;
        --global-min-width-center: 900px;

        /* Padding */
        --global-padding-text: 3%;

        --outer-projekt-padding: 3%;

    /*  ------------------
        ----- Colors -----
        ------------------  */
        /* --color-bg-main: rgb(2, 2, 2); */
        --color-bg-main: #ffecd9;
        --color-bg-sec: rgb(255, 255, 255);

        /* Buttons */
        --color-btn-cta: #ef7443;
        --color-btn-main: rgb(2,2,2);
        
    /* 
        ----- Projekt Colors
    */
    /* SNV */
    --snv-color-main: #B22918;
    --snv-color-sec: #1C3E56;
    /* Englerod */
    --englerod-color-main: #F6A062;
    --englerod-color-sec: #87C882;
    /* PinkTree */
    --pinktree-color-main: #CE1E58;
    --pinktree-color-sec: #091534;
}

/*###########  
    GRID  
############*/
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--grid-column-desk), 1fr);
        grid-gap: var(--grid-gap);
    }

/*##########
    FLEX 
###########*/
    .flex-center {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
  
/* --------------------------------------------------------- */
/* ----------------------- MAIN HTML ----------------------- */
/* --------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    /* height: 10vh; */
    width: 100%;
    z-index: 3;
}
header object {
    pointer-events: none;
}
#hero {
    background-color: var(--color-bg-sec);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

main {
    margin: 0;
    top: 100vh;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

body main > * {
    background-color: var(--color-bg-main);
}

/* Skyline */
main section#main_skyline{
    background-color: transparent;
}
section#main_skyline_footer {
    background-color: var(--color-bg-sec);
}
body#forside #main_skyline_footer, body#projekter #main_skyline_footer {
    background-color: var(--color-bg-sec);
}

footer {
    background-color: var(--color-bg-sec);
    position: absolute;
    top: var(--footer-position);
    left: 0;
    z-index: 1;
    min-height: 50vh;
    width: 100%;
}


/*      ---------------- 
        ---- GLOBAL ----
        ----------------    */ 
/* Burger Menu */
#burgerContainer {
    cursor: pointer;
    width: calc(var(--burger-value) * 9);
    height: calc(var(--burger-value) * 9);
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 6;
}
.c_burgerDiv {
    display: block;
    height: var(--burger-value);
    width: calc(var(--burger-value) * 6);
    border-radius: 100px;
    margin: var(--burger-value) auto;
    background-color: black;
}
/* Animate Icon */
    /* Animated - from = to X */
    .ani_burger1_animated {
        animation: ani_burger1 var(--burger-time) linear forwards;
        transform-origin: center center;
    }
    .ani_burger2_animated {
        animation: ani_burger2 var(--burger-time) linear forwards;
    }
    .ani_burger3_animated {
        animation: ani_burger3 var(--burger-time) linear forwards;
        transform-origin: center center;
    }
    @keyframes ani_burger1 {
        30% {transform: translateY(var(--burger-translateY));}
        40% {transform: translateY(var(--burger-translateY));}
        80% {transform: translateY(var(--burger-translateY)) rotate(70deg);}
        90% {transform: translateY(var(--burger-translateY)) rotate(25deg);}
        100% {transform: translateY(var(--burger-translateY)) rotate(45deg);}
    }
    @keyframes ani_burger2 {
        29% {opacity: 1;}
        30% {opacity: 0;}
        100% {opacity: 0;}
    }
    @keyframes ani_burger3 {
        30% {transform: translateY(calc(0px - var(--burger-translateY)));}
        40% {transform: translateY(calc(0px - var(--burger-translateY)));}
        80% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(160deg);}
        90% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(115deg);}
        100% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(135deg);}
    }
    /* Neutral - from X to = */
    .ani_burger1_neutral {
        animation: ani_burger1n var(--burger-time) linear forwards;
        transform-origin: center center;
    }
    .ani_burger2_neutral {
        animation: ani_burger2n var(--burger-time) linear forwards;
    }
    .ani_burger3_neutral {
        animation: ani_burger3n var(--burger-time) linear forwards;
        transform-origin: center center;
    }
    @keyframes ani_burger1n {
        /* Rember to always have 0% in the out-keyframe, because otherwise it will start from the original position */
        0% {transform: translateY(var(--burger-translateY)) rotate(45deg);}
        40% {transform: translateY(var(--burger-translateY)) rotate(-25deg);}
        50% {transform: translateY(var(--burger-translateY)) rotate(20deg);}
        60% {transform: translateY(var(--burger-translateY)) rotate(0deg);}
        70% {transform: translateY(var(--burger-translateY)) rotate(0deg);}
        90% {transform: translateY(calc(0px - var(--burger-value))) rotate(0deg);}
        100% {transform: translateY(0px) rotate(0deg);}
    }
    @keyframes ani_burger2n {
        0% {opacity: 0;}
        70% {opacity: 0;}
        71% {opacity: 1;}
    }
    @keyframes ani_burger3n {
        0% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(135deg);}
        40% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(-25deg);}
        50% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(20deg);}
        60% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(0deg);}
        70% {transform: translateY(calc(0px - var(--burger-translateY))) rotate(0deg);}
        90% {transform: translateY(var(--burger-value)) rotate(0deg);}
        100% {transform: translateY(0px) rotate(0deg);}
    }
    /* Burger Curtain */
        #burgerCurtain_outer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: var(--color-btn-cta);
            z-index: 2;

            display: flex;
            justify-content: center;
            align-items: center;
        }
        #burgerCurtain_main {
            display: none;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            opacity: 0;
        }
        #burgerCurtain_outer.show_curtain {
            transition: .7s linear;
            height: 100%;
        }
        #burgerCurtain_outer.hide_curtain {
            transition: .7s linear;
            height: 0%;
        }

        .show_curtain_main {
            animation: .7s show_curtain_main linear forwards;
            animation-delay: .3s;
        }
        .hide_curtain_main {
            animation: .3s hide_curtain_main linear forwards;
        }

        @keyframes show_curtain_main {
            0% {opacity: 0; transform: translateY(-2rem);}
            100% {opacity: 1; transform: translateY(0px);}
        }
        @keyframes hide_curtain_main {
            0% {opacity: 1; transform: translateY(0px);}
            100% {opacity: 0; transform: translateY(-2rem);}
        }

    /* Styling  */
    /* Active Nav */
        p {
            max-width: 70ch;
        }
        .button {
            cursor: pointer;
            display: block;
            border: 1px solid var(--color-btn-main);
            border-radius: 3px;
            padding: .6rem;
            color: var(--color-btn-main);
            /* font-weight: bold; */
            text-decoration: none;
            font-size: .8rem;

            min-width: 14ch;
            text-align: center;
            margin: .8rem 0;
        }
        .button:hover {
            background-color: var(--color-btn-cta);
            color: var(--color-btn-main);
        }
        .button:active {
            transform: scale(.95);
        }

        /* Diffent Buttons */
        #hero .button, footer .button {
            border: 1px solid var( --color-btn-cta);
            background-color: var( --color-btn-cta);
            color: white;
        }
        #hero .button:hover, footer .button:hover {
            background-color: white;
            color: var(--color-btn-cta);
        }
        a.button {
            display: inline-block;
        }

    /* Global Header */
        #globalHeader {
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            padding: 0 3vw;
            min-height: 60px;
        }
        #globalHeader > nav {
            display: flex;
        }
        #globalHeader nav > ul {
            display: flex;
            flex-direction: row;
        }
        #globalHeader li {
            list-style: none;
        }
        /* Logo */
        #logo_div {
            height: 60px;
            width: auto;
        }
        #logo_div img {
            width: auto;
            height: 80%;
        }
        /* Links */
            /* Active */
            #globalHeader_links a.active_nav {
                text-decoration: underline;
            }

            #globalHeader_links {
                display: flex;
                align-items: center;
            }
            #globalHeader_links li {
                margin: 0 1vw;
            }
            #globalHeader_links li:active {
                transform: scale(.95);
            }
            #globalHeader_links a {
                color: black;
                /* font-weight: bold; */
                text-decoration: none;
            }
            #globalHeader_links a:hover {
                color: #f27720;
            }
    
        /* Icons */
            #globalHeader_soMiIcons {
                display: flex;
                align-items: center;
            }
            #globalHeader_soMiIcons div, #intro_github_icon {
                width: 36px;
                height: 36px;
                margin: 0 1vw;
            }
            #globalHeader_soMiIcons object {
                width: 100%;
                height: auto;
            }
        /* Animation on Scroll */
            .nav_fadeIn {
                animation: nav_fadeIn .8s ease-in forwards;
            }
            @keyframes nav_fadeIn {
                from {background-color: rgba(255,171,3,0);}
                to {background-color: var(--color-bg-sec);}
            }
            .nav_fadeOut {
                animation: nav_fadeOut .8s ease-in forwards;
            }
            @keyframes nav_fadeOut {
                from {background-color: var(--color-bg-sec);}
                to {background-color: rgba(255,171,3,0);}
            }
    
    /* Skyline */
        #main_skyline {
            /* position: absolute;
            top: 0;
            left: 0; */
            width: 100%;
            height: auto;
            
        }
        #main_skyline object {
            display: block;
            width: 100%;
            height: auto;
        }

    /* Scroll Down */
    #scroll_down {
        position: absolute;
        z-index: 1;
        bottom: 3rem;
        left: 0;
        width: 100%;

        display: flex;
        justify-content: center;
    }
    #scroll_down > div > object {
        width: 30px;
        height: auto;
    }

    /* Loading Screen */
    .loading_screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-btn-cta);
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loading {
        animation: loading_screen .5s linear forwards;
        animation-delay: 1s;
    }
    @keyframes loading_screen {
        100% {
            height: 0;
        }
    }
       
/*      --------------- 
        --- FORSIDE ---
        ---------------     */

    /* Forside - Hero */
        #heroTextSection {
            display: flex;
        }
        /* body#forside #hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        } */
        #outer_hero {
            width: 80%;

            display: flex;
            flex-direction: var(--center-flex);
        }
        body#forside #heroTextSection {
            z-index: 1;
            flex-direction: column;
            align-items: flex-start;
            color: black;
            width: 35%;
        }
        #forsideHeroObjBox {
            width: 65%;
            height: auto;
            z-index: -1;
        }
        #forsideHeroObjDiv {
            display: flex;
            justify-content: center;
            width: 100%;
            /* min-height: 100%; */
        }
        #forsideHeroObjBox object {
            width: 100%;
            height: auto;
        }
    
    /* Forside - Personlig */
        #forsidePersonlig {
            width: 100%;
            min-height: var(--global-outer-height);

            display: flex;
            justify-content: center;
            /* color: var(--color-bg-sec); */
        }
        #forPer_cover {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: var(--global-min-width-center);
            max-width: var(--global-inner-width);

            margin-top: 5rem;
        }
        #forPer_cover > section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: var(--global-padding-text) 0;
        }
        #forsidePersonlig div {
            width: 200px;
            height: 200px;
            background-color: rgb(255, 230, 230);
        }
        #obj_desk {
            height: 100%;
            width: auto;
            margin: 1rem 0;
        }

    /* Forside - Projekter */
        /* Intro */
        #forsideProjekter {
            width: 100%;
        }
        #forPro_info {
            height: 20%;
            padding: 3rem 0;
        }
        /* Projekter */
        #snv, #englerod, #pinkTree {
            min-height: var(--global-outer-height);
            padding: 0 0 var(--outer-projekt-padding) 0;
            width: 100%;
        }
        .projektMain {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* Before the Object would cover the anchor link, but now it works */
        .projektMain object {
            pointer-events: none;
        }

        .projektMain section {
            border-radius: 3px;
            width: 50vw;
            height: auto;
            min-width: var(--global-min-width-center);

            display: flex; 
            flex-direction: var(--center-flex-content);
        }

        #englerod_imgBox {background-color: #f27720;}
        #snv_imgBox {background-color: #B22918; position: relative; z-index: 0;}
        #pinktree_imgBox {background-color: #2cbdd0;}

        .projektMain section img, .projektMain section object {
            width: 50%;
            height: auto;
        }
        .projektMain section img {
            border-radius: 0 3px 3px 0;
        }
        .projektMain section object {
            padding: 5%;
        }

        #forsideSeAlleProjekter {
            min-height: 20vh;
        }

/*      --------------- 
        -- PROJEKTER --
        ---------------     */

    .orange {
        color: #f27720;
        font-size: 5rem;
    }
    .kodeSprogBox {
        background-color: white;
        color: black;
        font-size: 1rem;
        display: inline-block;
        padding: .5rem;
        min-width: 10ch;
        
        border-radius: 99px;
        text-align: center;

        margin:.5rem;
    }

    .projektIntro_container {
        width: 100%;
        min-height: 50vh;
    }
    .pro_h2_box {
        margin: 3rem 0;
        width: 100%;
    }
    .pro_h2s {
        /* text-decoration: underline; */
        font-size: 3rem;
    }
    /* Projekt Template */
        .step_obj {
            width: 300px;
            height: auto;
        }
        #intro_a_container {
            display: flex;

            justify-content: space-between;
        }
        #template_next {
            padding: 2rem 0;
        }

        .projectTemplate_intro_links {
            border: solid 1px var(--color-bg-sec);

            display: flex;
        }

        /* Intro */
        #template_intro {
            padding: 3rem 0;
        }
    /* Next Project */
    #template_next a {
       color: black;
    }
    #template_next div {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
    }
    #template_next div > h3 {
        margin: 0;
        color: black;
        text-decoration: none;
    }
    #next_project_arrow {
        pointer-events: none; /* If you want to be able to click the svg */
        position: relative;
        transform: rotate(-90deg);
        height: 40px;
        width: 80px;
        z-index: 0;
    }

/*      --------------- 
        --- KONTAKT ---
        ---------------     */

    #aen_email {
        color: #af0b56;
    }

    /* Background Image */
        body#kontakt section#hero, body#projekter section#hero, body#om-mig section#hero {
            background-image: url(../images/svg/cloud_background_large.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100%;
        }
        body#kontakt section#hero {
            background-color: var(--color-bg-main);
        }
        
    #kontakt-outer_container {
        display: flex;
        width: 100%;
        max-width: 1200px;
    }
    #kontakt-soMi_ul {
        display: flex;
        margin: 0;
        padding: 0;
        width: 40%;
        
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    #kontakt-object_container {
        width: 60%;

        display: flex;
        justify-content: center;
    }
    #kontakt-object {
        width: 100%;
        height: auto;
    }
    #kontakt-object object {
        width: 100%;
    }
    #kontakt-info_box {
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* padding: 0 var(--global-padding-text); */
    }
        

/*      --------------- 
        --- OM MIG ----
        ---------------     */
        #om-mig_main {
            min-height: 100vh;
            width: 100%;
        }
        /* Hero */
        body#om-mig #hero {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        /* Hero Content */
        #hero_frame_ommig {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
            body#om-mig #heroTextSection {
                width: 50%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            #om-mig_intro_img {
                width: 50%;
                display: flex;
                justify-content: end;
                align-items: center;
            }
            #om-mig_intro_img > div {
                width: 100%;
                max-width: 500px;
                height: auto;
            }
            #om-mig_intro_img img {
                max-width: 500px;
                height: auto;
            }
            #ommig_profile_picture {
                width: 100%;
                height: auto;
                border-radius: 3px;
            }

        .vaerdiBox {
            height: auto;
            width: 100%;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: flex-start;

            margin: 1rem 0;
        }

/*      ---------------------------- 
        --- PROJETKER - TEMPLATE ---
        ----------------------------     */
        .template_hero_h2 {
            color: white;
        }
        .projektStepBox {
            width: 100%;
        }
        #template_color_cover {
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;
            opacity: .7;
            z-index: -1;
        }
        /* --- Diffrent Content after body id --- */
        /* SNV */
        body#template_snv #hero {
            background-image: url(../images/images_projekter/snvdk.png);
            background-color: var(--snv-color-main);
        }
        body#template_snv #template_color_cover {
            background-color: var(--snv-color-main);
        }
        /* Englerod */
        body#template_englerod #hero {
            background-image: url(../images/images_projekter/englerod.png);
            background-color: var(--englerod-color-main);
        }
        body#template_englerod #template_color_cover {
            background-color: var(--englerod-color-main);
        }
        /* PinkTree */
        body#template_pinktree #hero {
            background-image: url(../images/images_projekter/PINKTREE.png);
            background-color: #2cbdd0;;
        }
        body#template_pinktree #template_color_cover {
            background-color: #2cbdd0;;
        }
/* ------------------------------------------------------------- */
/* ----------------------- Media Queries ----------------------- */
/* ------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    :root {
        --center-flex: column;
        --global-min-width-center: unset;
    }

    /* Font Size */
    h1 {
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
        margin: .2rem 0;
    }
    h3 {font-size: 1.728rem;}

    h4 {font-size: 1.44rem;}

    h5 {font-size: 1.2rem;}

    h1, h2, p {
        padding: 0 1rem;
    }

    .pro_h2_box {
        margin: 1rem 0;
        width: 100%;
    }

    /* Global */
    /* #scroll_down {
        justify-content: start;
        padding: 0 0 0 1rem;
        bottom: .5rem;
    } */
    .button {
        margin: 1rem;
    }
    #globalHeader_links {
        flex-direction: column;
    }
    #globalHeader_links a {
        font-size: 2rem;
        color: white;
    }
    #globalHeader_links li {
        margin: 1rem 0;
    }
    #globalHeader_soMiIcons {
        justify-content: space-between;
        width: 50%;
        margin: 3rem 0 0 0;
    }
    /* Forside */
    #outer_hero {
        justify-content: center;
        width: auto;
        height: 100%;
    }
    body#forside #heroTextSection {
        width: 100%;
        align-items: center;
        justify-content: start;
    }
    #forsideHeroObjBox {
        width: 100%;
        display: none;
    }
    /* #forsideHeroObjBox object {
        max-height: 40vh;
    } */
        /* Main */
        .projektMain {
            width: 100%;
            max-width: 600px;
        }
        .projektMain section {
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        .projektMain section object {
            width: 100%;
        }


    /* Kontakt */
    #kontakt-outer_container {
        flex-direction: column;
        align-items: center;
        
    }
    #kontakt-object {
        display: none;
    }
    #kontakt-info_box {
        background-color: rgba(255, 236, 217,.7);
        border-radius: 3px;
    }
    /* Template - Projekter */
    .pro_h2s {
        margin: 2rem 0;
    }
}
@media screen and (max-width: 479px) {
    :root {
        --center-flex-content: column;
        --mobile-h1-margin-top: 0px;
    }

    /* More Spacing */
        h1 {
            margin-top: calc(var(--mobile-h1-margin-top) + 1rem);
        }
        h1, h2, p {
            padding: 0 1rem;
        }
        .orange {
            color: #f27720;
            font-size: 3rem;
        }

        /* Forside */
        body#forside h1 {
            background-color: white;
        }

        /* Object */
        /* #forsideHeroObjBox {
            display: none;
        } */


    /* Projekt Sections */
    .projektMain section img {
        display: none;
    }
    .projektMain section {
        width: 100%;
        height: 100vw;
    }
    .projektMain section img {
        min-height: 100vw;
    }


    /* Kontakt */
    #aen_email {
        font-size: 1.3rem;
    }
}



